@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .code-golden {
    color:#fc6;
  }
  .code-orange {
    color:#f97;
  }
  .code-blue-100 {
    color:#adf;
  }
  .code-blue-200 {
    color:#2cd;
  }
  .code-blue-300 {
    color:#0bf
  }
  .code-purple {
    color: #b8f;
  }
  .code-dimmed-100 {
    color:#999;
  }
  .code-dimmed-200 {
    color:#666;
  }
  .code-dimmed-300 {
    color:#444;
  }
  .bg-code {
    background: #141414;
  }
  .mask{
    mask-image: url('../public/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
    position: absolute;
  }
}
