.burger {
  width: 100%;

  &:after, &:before {
    content: "";
    display: block;
    margin: auto;
    background: white;
    height: 1px;
    width: 40%;
    position: relative;
    transition: 0.34s;
  }

  &:after {
    top: -5px;
  }

  &:before {
    top: 5px;
  }
}

.active {
  &:before {
    top:1px;
    transform: rotate(45deg);
  }

  &:after {
    top:-1px;
    transform: rotate(-45deg);
  }
}